{extend name="public:base"}
{block name="head"}
  <link rel="stylesheet" href="__ADCSS__/user/index.css">
  <script src="__ADJS__/user/index.js"></script>
  <link rel="stylesheet" href="__ADCSS__/public/css.css">
  <script src="__ADJS__/public/css.js"></script>
{/block}
{block name="main"}
  <div id="body">
  	<div id="title">
  		<h2>用户列表</h2>
  	</div>
  	<table  class="layui-table" lay-even lay-skin="nob">
      <thead>
        <tr>
  				<th>昵称</th>
          <th>用户名</th>
          <th>添加时间</th>
          <th>管理权限</th>
          <th>操作</th>
        </tr> 
      </thead>
      <tbody >
      	{volist name="list" id="vo"}
      		<tr>
      			<td>{$vo.name}</td>
      			<td>{$vo.user}</td>
      			<td>{$vo.addtime|date="Y-m-d",###}</td>
      			<td>
  						{if condition="$vo.type eq 0"}
  							最高管理员
                </td>
                <td>
                  <div class="layui-btn-group">
                    <button class="layui-btn  layui-btn-disabled layui-btn-small">
                      <i class="layui-icon">&#xe642;</i>
                    </button>
                    <button class="layui-btn  layui-btn-disabled layui-btn-small">
                      <i class="layui-icon">&#xe640;</i>
                    </button>
                  </div>
                </td>                
  						{else /}
                模块管理员
  							</td>
                <td>
                  <div class="layui-btn-group">
                    <button class="layui-btn layui-btn-primary layui-btn-small edit" data="{$vo.id}">
                      <i class="layui-icon">&#xe642;</i>
                    </button>
                    <button class="layui-btn layui-btn-primary layui-btn-small del" data="{$vo.id}">
                      <i class="layui-icon">&#xe640;</i>
                    </button>
                  </div>
                </td>
  						{/if}      			
      		</tr>
      	{/volist}
      </tbody>
    </table>
  </div>
  <input type="hidden" value="">	      
{/block}